@import "tailwindcss";

@theme {
  --color-c1blue: #e6ecf7;
  --color-c2blue: #afc4e8;
  --color-c3blue: #5a82c6;
  --color-c4blue: #1b3d73;
  --color-c5blue: #1b3d73;
  --color-c6blue: #030812;
  --color-green: #39ff14;
  --color-yellow: #e5ff00;
  --color-red: #ff3b3f;

  --font-h: 'Poppins', sans-serif;
  --font-b: 'Inter', sans-serif;
}

@utility container {
  margin: 0 auto;
  padding: 1rem;
  @media (width >= 48rem) {
    padding: 2rem;
  }
}

@utility text-h0-l {
  font: 600 4.5rem/1.1 var(--font-h);
}
@utility text-h0-m {
  font: 600 3.75rem/1.1 var(--font-h);
}
@utility text-h0-s {
  font: 600 3rem/1.1 var(--font-h);
}

@utility text-h1-l {
  font: 600 3.75rem/1.2 var(--font-h);
}
@utility text-h1-m {
  font: 600 2.5rem/1.2 var(--font-h);
}
@utility text-h1-s {
  font: 600 2rem/1.2 var(--font-h);
}

@utility text-h2-l {
  font: 500 2.25rem/1.3 var(--font-h);
}
@utility text-h2-m {
  font: 500 2rem/1.3 var(--font-h);
}
@utility text-h2-s {
  font: 500 1.75rem/1.3 var(--font-h);
}

@utility text-h3-l {
  font: 500 1.75rem/1.3 var(--font-h);
}
@utility text-h3-m {
  font: 500 1.625rem/1.3 var(--font-h);
}
@utility text-h3-s {
  font: 500 1.375rem/1.3 var(--font-h);
}

@utility text-p-l {
  font: 400 1.5rem/1.6 var(--font-b);
}
@utility text-p-m {
  font: 400 1.25rem/1.6 var(--font-b);
}
@utility text-p-s {
  font: 400 1.125rem/1.6 var(--font-b);
}

@utility text-btn-l {
  font: 500 1.5rem/1.5 var(--font-b);
}
@utility text-btn-m {
  font: 500 1.25rem/1.5 var(--font-b);
}
@utility text-btn-s {
  font: 500 1rem/1.5 var(--font-b);
}

@layer components {
  .rad-gradient {
    @apply bg-radial from-[var(--color-c4blue)] to-[var(--color-c6blue)] w-full;
  }
}